<?php

require 'vendor/autoload.php';

$mysqlDatabaseName ='DBNAME';
$mysqlUserName ='DBUSER';
$mysqlPassword ='DPPW';
$mysqlHostName ='DBHOST';

$s3Client = new S3Client([
    'version'     => '2006-03-01',
    'region'      => 'eu-west-1',
    'credentials' => [
        'key'    => 'my-access-key-id',
        'secret' => 'my-secret-access-key',
    ],
]);

$awsBucketName = 'AwsBucketName';